@charset "UTF-8";
/**
 * 
 * @authors phzhou
 * @date    2016-07-25 10:58:05
 * @version $Id$
 */
body{
	font-family: "微软雅黑";
	font-size:16px;
	color: #333;
	line-height: 1.5em;
}
p{
	color: #000;
	line-height: 1.5em;
	text-indent: 2em;
}