@charset "UTF-8";
       .t p{
        height:0px;
        width:0px;
       	margin:30px auto;
       }
       .t0{
       	border-top: 100px solid blue; 
       	border-left: 100px solid red; 
       	border-right: 100px solid yellow; 
       	border-bottom: 100px solid green; 
       }
        .t1{
       	border-top: 100px solid blue; 	
       	border-left: 100px solid rgba(0,0,0,0); 
        border-right: 100px solid rgba(0,0,0,0); 
       }
        .t2{
       	border-top: 100px solid rgba(0,0,0,0); 
       	border-left: 100px solid red; 
       	border-bottom: 100px solid rgba(0,0,0,0); 
       }
        .t3{
       	border-top: 100px solid rgba(0,0,0,0); 
        border-right: 100px solid yellow; 
        border-bottom:100px solid rgba(0,0,0,0);
       }
        .t4{
       	border-left: 100px solid rgba(0,0,0,0); 
        border-right: 100px solid rgba(0,0,0,0); 
       	border-bottom: 100px solid green; 
       }
        .t5{
       	border-top: 100px solid rgba(0,0,0,0); 
       	border-left: 100px solid red; 
       }
        .t6{ 
        border-top: 100px solid rgba(0,0,0,0); 
        border-left: 100px solid rgba(0,0,0,0); 
        border-bottom: 100px solid green; 
       }

    
     
    
     
    
    
     
    
     
    
     
    
     
    

    