body{
  font-size:18px;
  font-family："微软雅黑";
}
.btn{
  background-color:#fff;
  color:#e84e40;
  border:solid 1px #e84e40;
  border-radius:3px;
  padding:5px 10px;
  cursor:pointer;
}
.btn:hover{
  background-color:#e84e40;
  color:#fff;
}
.btn-group{
  margin-bottom:10px;
}
table{
  color:#777;
  font-size:12px;
}
.list-change{
  border-top:dashed 1px #e84e40;
  border-bottom:dashed 1px #e84e40;
  padding:10px 0;
  color:#999999;
  font-size:12px;
}
.more{
  color:#E84E40;
  cursor:pointer;
}