
.icon-down-dir:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-lock:before { content: '\e802'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */