@charset "UTF-8";

#header,.studio,.carousel,.img-ct,.img-ct li,.cover{
      height: 100%;
      width:100%;
  }
  .carousel{
    position: relative;
    overflow: hidden;
  }
  .carousel .img-ct{
    position: relative;
  }
  .carousel .img-ct li{
    position: absolute;
    display: none;
  }
  .carousel .cover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .carousel .arrow{
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 2px #999;
    opacity: 0.8
  }
  .carousel .arrow:hover {
      opacity: 1;
  }
  .carousel .pre{
    left: 10px;
  }
  .carousel .next{
    right: 10px;
  }
  ul.bullet{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
  }
  ul.bullet li{
    width: 24px;
    height: 4px;
    border-radius: 2px;
    background: #fff;
    display: inline-block;
    cursor: pointer;
  }
  ul.bullet li.active{
    background: #666;
  }