@charset "UTF-8";

@font-face {font-family: "iconfont";
  src: url('../fonts/fonts4/iconfont.eot?t=1471754127'); /* IE9*/
  src: url('../fonts/fonts4/iconfont.eot?t=1471754127#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/fonts4/iconfont.woff?t=1471754127') format('woff'), /* chrome, firefox */
  url('../fonts/fonts4/iconfont.ttf?t=1471754127') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/fonts4/iconfont.svg?t=1471754127#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}