
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1476347762'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1476347762#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1476347762') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1476347762') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1476347762#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-dianhua:before { content: "\e6a6"; }
.icon-iconfontyouxiang:before { content: "\e606"; }
.icon-f:before { content: "\e6c9"; }
.icon-niao:before { content: "\e602"; }
.icon-iconfontdiqiuyi:before { content: "\e652"; }
.icon-iconfontzhinanzhen:before { content: "\e632"; }
.icon-weibo:before { content: "\e603"; }
.icon-iconfontjiangbei:before { content: "\e616"; }
.icon-3:before { content: "\e6b4"; }
