@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.iconfont1{
    font-family:"iconfont" !important;
    font-size:120px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.iconfont2{
    font-family:"iconfont" !important;
    font-size:80px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color:#337ab5;
}
.iconfont2:hover{
    opacity: 0.5;
}

.icon-html:before { content: "&#xe61e";  font-size: 100px;}
.icon-css:before { content: "&#xe844"; }
.icon-js:before { content: "&#xe605"; }
.icon-bolg:before { content: "&#xe63d"; }
.icon-tel:before { content: "&#xe61b"; }
.icon-email:before { content: "&#xe625"; }
.icon-weixin:before { content: "&#x3433"; }
.icon-github:before { content: "&#xe873"; }
.icon-qq:before { content: "&#xe627"; }