@charset "utf-8";
/*重置样式*/
body,div,p,ul,li,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
body{
	font:'Microsoft YaHei' 14px;
	}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
/*头部样式*/
#header{
	background: url(../images/header-bg.jpg) 0 0 no-repeat;
	background-size: cover;
}
.nav-bar{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}