@charset "utf-8";
/*重置样式*/
body,div,p,ul,li,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
body{
	font-family: Helvetica,'Microsoft YaHei',Arial;
	font-size: 14px;
	height: 100vh;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
/*头部样式*/
#header{
	height: 100%;
	background: url(../images/header-bg.jpg) 0 0 no-repeat;
	background-size: cover;
}
.nav-bar{
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}
.layout{
	width: 1000px;
	margin: 0 auto;
}
.clearfix:after{
	content: '';
	display: block;
	clear:both;
}
.logo{
	font: 20px cursive;
	color: #fec503;
}
.nav{
	float: right;
}
.nav>li{
	float: left;
	height: 60px;
	line-height: 60px;
	padding: 0 12px;
}
.nav>li>a{
	font: 16px Arial;
	color: #fff;
}
.nav>li>a:hover{
	color: #fec503;
}
.table{
	height: 100%;
	display: table;
}
.header-warp{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: #fff;
}
.header-warp h2{
	font:40px sans-serif;
	font-weight: bold;
	font-style: italic;
	padding-bottom: 30px;
}
.header-warp h1{
	font:75px Arial;
	font-weight: bold;
	padding-bottom: 50px;
}
.header-warp a{
	display: inline-block;
	padding:18px 25px;
	background-color: #fec503;
	font:16px Arial;
	color: #fff;
	border-radius: 3px;
}
.header-warp a:hover{
	background-color: #f60;
}
/*services样式*/
#services,#portfolio,#about{
	padding: 120px 0;
	text-align: center;
}
.main-title{
	font:40px Arial;
	font-weight: 700;
	color: #333;
	margin-bottom: 15px;
}
.title-intro{
	font:16px Helvetica;
	font-weight: 600;
	font-style: italic;
	color: #666;
	margin-bottom: 60px;
}
.service-main{
	margin-left: -41px;
}
.service-main li{
	width: 286px;
	padding: 10px;
	float: left;
	margin-left: 41px;
}
.service-main i{
	display: inline-block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	border-radius: 50%;
	background-color: #fed136;
	margin: 10px auto;
}
@font-face {font-family: "iconfont2";
  src: url('iconfont2.eot?t=1472017000'); /* IE9*/
  src: url('iconfont2.eot?t=1472017000#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont2.woff?t=1472017000') format('woff'), /* chrome, firefox */
  url('iconfont2.ttf?t=1472017000') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont2.svg?t=1472017000#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont2 {
  font-family:"iconfont2" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.service-icon{
	font-size: 50px;
	color: #fff;
}
.shopping-car:before{
	content: '\e600';
}
.shopping-computer:before{
	content: '\e603';
}
.shopping-key:before{
	content: '\e602';
}
.service-main h4{
	margin: 15px 0;
	font:18px Arial;
	font-weight: 600;
	color: #333;
}
.service-main p{
	font-size: 14px;
	line-height: 1.7;
	color: #777;
}
/*portfolio样式*/
.portf-main{
	margin-left: -32px;
}
.portf-main li{
	float: left;
	width: 312px;
	margin-left: 32px;
	padding-bottom: 30px;
	margin-bottom: 20px;
	background-color: #fff;
	position: relative;
}
.portf-main li:hover .portf-hover{
    display: block;
}
.portf-main li img{
	width: 312px;
}
.portf-hover{
	display: none;
	width: 312px;
	height: 225px;
	background-color: #EAC135;
	opacity: 0.9;
	position: absolute;
	top: 0;
	left: 0;
}
.hover-line1{
	width: 50px;
	height: 16px;
	border-radius: 3px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -8px;
	margin-left: -25px;
}
.hover-line2{
	width: 16px;
	height: 50px;
	border-radius: 3px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -8px;
}
.main-name{
	font:16px Arial;
	font-weight: 600;
	color: #333;
	padding: 10px 0 5px;
}
.portf-main p{
	font:14px Helvetica;
	font-style: italic;
	color: #777;
}
/*about样式*/
.about-list{
	margin-top: 120px;
}