
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1473062114'); /* IE9*/
  src: url('iconfont.eot?t=1473062114#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1473062114') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1473062114') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1473062114#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-yun:before { content: "\e651"; }
.icon-zhinanzhen-copy:before { content: "\e601"; }
.icon-erlenmeyerflask:before { content: "\e7cf"; }
.icon-shield:before { content: "\e7ab"; }
.icon-icon:before { content: "\e614"; }
.icon-Twitter:before { content: "\f0003"; }
.icon-lanqiu:before { content: "\e62f"; }
