html,body,h1,h2,h3,p,ul,li{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
.content{
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

#header{
    height: 100%;
    background-image: url(../img/bg1.jpg);
    background-size: cover;
}
#header h1{
    font-size: 55px;
    padding-top: 200px;
}
#header p{
	font-size: 22px;
	padding: 20px 0;
	font-weight: bold;
}
#header .mijiu{
	padding-bottom: 40px;
	font-size: 20px;
	font-weight: bold;
}
#header a{
	color: #fff;
	display: block;
	padding: 10px;
    background: #76858a;
    width: 120px;
    height: 30px;
    margin: 0 auto;
    line-height: 30px;
}
#main .content p:first-child{
	font-size: 26px;
	padding: 70px 0 10px 0;
}
#main .content>p{
	font-size: 18px;
	padding-bottom: 70px;
}
#main .content p span{
	color: #337ab7;
}
#main .services{
	background: #337ab7;
	padding: 60px 0;
}
#main .content{
	width: 960px;
	margin: 0 auto;
}
#main .services h2{
	color: #fff;
	padding-bottom: 10px;
}
#main .services hr{
	width: 100px;
}
#main .services li{
	float: left;
    width: 240px;
    padding-top: 20px;
}
#main .services img{
	width: 60px;
	height: 60px;
	border: 20px solid #fff;
    border-radius: 50%;
    background: #fff;
}
#main .services h3,
#main .services p{
	color: #fff;
    padding: 10px 0;
}
#main .services p{
	font-size: 14px;
}
#main .text{
	height: 100%;
    background-image: url(../img/bg2.jpg);
    background-size: cover;
}
#main .text .content p{
	font-size: 60px;
	font-weight: bold;
	color: #fff;
	padding: 280px 0;
}
#main .work{
	padding: 50px 0;
}
#main .work h2{
    font-size: 30px;
    font-weight: normal;
    padding-bottom:10px;	
}
#main .work hr{
	width: 100px;
	opacity: 0.3;
}
#main .work li{
	float: left;
	margin-right: 20px;
	margin-top: 20px;
}
#main .work .clearfix{
	margin-right: -20px;
	padding-bottom: 20px;
}
#main .work li img{
	width: 470px;
}
#main .click{
	background: #337ab7;
}
#main .click .content{
	padding-bottom: 50px;
}
#main .click p{
	color: #fff;
}
#main .click a{
	display: inline-block;
	background: #fff;
	padding: 10px;
	margin: 0 10px;
	color: #000;
}

#main .click a:hover{
	background: #ccc;
}
#footer {
	padding: 60px 0;
}
#footer address{
	font-style: normal;
	font-size: 14px;
	padding: 10px 0;
}
#footer ul{
	margin-left: 50%;
	position: relative;
	right: 105px;
}
#footer li{
	float: left;
	padding: 10px 10px;
}
#footer li img{
	width: 50px;
	height: 50px;
}
#footer hr{
	width: 100px;
	opacity: 0.3;
	margin-bottom: 20px;
}
#footer p{
	font-size: 14px;
}
#footer .content p>img{
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
