
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1470399049'); /* IE9*/
  src: url('iconfont.eot?t=1470399049#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1470399049') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1470399049') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1470399049#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-gouwuche:before { content: "\e61c"; }
.icon-diannao01:before { content: "\e61d"; }
.icon-suo:before { content: "\e611"; }
.icon-facebook:before { content: "\e61f"; }
.icon-twitter:before { content: "\e623"; }
.icon-in:before { content: "\e63d"; }
