@charset "utf-8";
/*重置样式*/
body,div,p,ul,li,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
body{
	font:'Microsoft YaHei' 14px;
	}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
/*头部样式*/
.layout{
	width: 1000px;
	margin: 0 auto;
}
.clearfix:after{
	content: '';
	display: block;
	clear:both;
}
.nav>li{
	float: left;
	height: 50px;
	line-height: 50px;
	padding: 0 12px;
	position: relative;
}
.nav>li:hover a{
	color: #f60;
}
.nav>li:hover .droplist{
	display: block;
	color: #333;
}
.nav>li a{
	font-size: 16px;
	color: #333;
}
#header .logo{
	height: 50px;
	line-height: 50px;
	color: #333;
	float: left;
	margin-right: 10px;
}
@font-face {font-family: "home";
  src: url('iconfont.eot?t=1471574769'); /* IE9*/
  src: url('iconfont.eot?t=1471574769#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1471574769') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1471574769') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1471574769#iconfont') format('svg'); /* iOS 4.1- */
}
.home {
  font-family:"home";
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.home-logo:before{
	content: '\f0070';
	font-size: 30px;
}
.home-more:before{
	content: '\e653';
	font-size: 12px;
}
.droplist{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
    border: 1px solid #eee;
}
.droplist>li{
	line-height: 30px;
	padding: 0 5px;
	border-bottom: 1px dashed #ccc;
}
#header .droplist>li>a{
	color: #333;
}
.droplist>li:hover{
	background: #ccc;
}
/*主体内容样式*/
.intr{
	background: #b84d45;
	padding: 30px 0;
	color: #fff;
}
.intr h2,.intr h3,.intr p{
	text-align: center;
}
.intr h2{
	margin-bottom: 16px;
}
.intr h3{
	margin-bottom: 10px;
}
.breadcrumb{
	background: #eee;
	border-radius: 3px;
	margin-top: 30px;
}
.breadcrumb ul{
	padding: 10px;
}
.breadcrumb li{
	color: #666;
	display: inline-block;
}
.breadcrumb li a{
	color: #f60;
}
.works{
	margin-top: 10px;
}
.works>ul{
	margin-left: -45px;
}
.works>ul>li{
	border:1px solid #ccc;
	float: left;
	margin-left: 45px;
	padding-bottom: 10px;
	margin-top: 20px;
	text-align: center;
}
.works li img{
	width: 300px;
	height: 200px;
}
.works h4{
	font-size: 16px;
	padding:10px;
	text-align:left;
}
.works p{
	font-size: 14px;
	padding:10px;
	text-align:left;
}
.btn{
	display: inline-block;
	padding: 5px 8px;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #666;
}
.btn:hover{
	color: #f60;
}
.about{
	background: #b84d45;
	padding: 20px 0;
	color: #fff;
	margin-top: 30px;
	text-align: center;
}
.about h2{
	margin-bottom: 12px;
}
.about p{
	margin-bottom: 8px
}
.about .btn{
	color: #fff;
	margin-top:10px;
}
/*尾部样式*/
#footer p{
	text-align: center;
	margin: 30px 0;
	padding-top: 20px;
}