/*初始化 start*/
*{padding:0; margin:0; box-sizing: border-box;}
ul li{list-style: none;}
.clearfix{*zoom:1;}
.clearfix:after{display: block; content: ''; clear: both;}
a{text-decoration: none; color:#333; font-size: 14px;}
/*初始化 end*/
.ct .item{border:1px solid #ccc; padding:10px 0 10px 10px; margin: 10px 10px 0 10px;}
.ct .item:hover{background: green;}
.add-more{border-radius: 5px; border:1px solid red; padding:5px 5px;
    margin: 10px 10px 0 10px;width:80px;margin: 10px auto;text-align: center; cursor: pointer;}
