@charset "utf-8";
/*重置样式*/
body,div,p,ul,li,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100%;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
/*头部样式*/
#header{
	width: 100%;
	height: 100%;
	background: url(../images/bg.jpg);
	background-size: cover;
/*	position: fixed;*/
}
.layout{
	width: 960px;
	margin: 0 auto;
}
.table{
	display: table;
	height: 100%;
}
.vertical-middle{
	display: table-cell;
	vertical-align: middle;
}